//* {
//  box-sizing: border-box;
//}


.timeline{
  background-color: #8c8c8c;
  max-width: 1200px;
  position: relative;
  margin: 0 auto;

  /* Container around content */
  .container {
    position: relative;
    padding: 0.7rem 2rem;
    width: 50%;

    .content {
      padding: 1rem 1rem;
      background-color: white;
      position: relative;
      border-radius: 6px;
    }

    img {
      position: absolute;
      top: 1rem;
      width: 2.5rem;
      height: 2.5rem;
      z-index: 1;
    }

  }

  /* Place the container to the left */
  .container.left {
    left: 0;
    img {
      right: -1.2rem;
    }
  }

  /* Place the container to the right */
  .container.right {
    left: 50%;
    img {
      left: -1.2rem;
    }
  }
}

/* The actual timeline (the vertical ruler) */
.timeline::after{
  content: ' ';
  background-color: #3a7be0;
  position: absolute;
  top: 1.2rem;
  bottom: 0;
  width: 6px;
  left: 50%;
  margin-left: -3px;
}

@media screen and (max-width: 600px) {

  .timeline{

    .container {
      width: 90%;
    }

    /* Place the container to the left */
    .container.left,
    .container.right {
      left: 2rem;
      img {
        left: -1.2rem;
      }
    }
  }

  .timeline::after{
    left: 2rem;
  }

}


