//* {
//  box-sizing: border-box;
//}


.timeline{
  font-size: 13px;
  max-width: 1200px;
  position: relative;
  margin: 0 auto;

  /* Container around content */
  .container {
    position: relative;
    padding: 0.3rem 1rem 0rem 1rem;
    width: 50%;

    .content {
      padding: 0 0 0.5rem 0;
      background-color: white;
      position: relative;
      border-radius: 6px;

      p{
        margin: 0.5rem 0.5rem;
      }
      p:first-child{
        margin-bottom: 1rem;
      }
    }

    img {
      position: absolute;
      top: 0rem;
      width: 2.5rem;
      height: 2.5rem;
      z-index: 1;
      padding-top: 5px;
      padding-bottom: 5px;
      background-color: white;
    }

  }

  /* Place the container to the left */
  .container.left {
    left: 0;
    img {
      right: -1.2rem;
    }
  }

  /* Place the container to the right */
  .container.right {
    left: 50%;
    img {
      left: -1.2rem;
    }
  }
}

/* The actual timeline (the vertical ruler) */
.timeline::after{
  content: ' ';
  background-color: #d5d5d5;
  position: absolute;
  top: 1.2rem;
  bottom: 0;
  width: 4px;
  left: 50%;
  margin-left: -2px;
}

@media screen and (max-width: 600px) {

  .timeline{

    .container {
      width: 90%;
    }

    /* Place the container to the left */
    .container.left,
    .container.right {
      left: 2rem;
      img {
        left: -1.2rem;
      }
    }
  }

  .timeline::after{
    left: 2rem;
  }

}


